@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary color scale */
    --primary-50: #f5f5f5;
    --primary-100: #e3e3e3;
    --primary-200: #c7c7c7;
    --primary-300: #aaaaaa;
    --primary-400: #8e8e8e;
    --primary-500: #727272;
    --primary-600: #565656;
    --primary-700: #393939;
    --primary-800: #1d1d1d;
    --primary-900: #010101;
    --primary: var(--primary-50);
    --primary-foreground: var(--primary-800);

    --radius: 0.5rem;

    /* Dark mode using the primary scale */
    --background: var(--primary-50);
    --foreground: var(--primary-900);
    --card: var(--primary-800);
    --card-foreground: var(--primary-100);
    --popover: var(--primary-700);
    --popover-foreground: var(--primary-200);
    --secondary: var(--primary-500);
    --secondary-foreground: var(--primary-100);
    --muted: var(--primary-400);
    --muted-foreground: var(--primary-50);
    --accent: var(--primary-300);
    --accent-foreground: var(--primary-50);
    --destructive: var(--primary-700);
    --destructive-foreground: var(--primary-50);
    --border: var(--primary-500);
    --input: var(--primary-600);
    --ring: var(--primary-400);
    --chart-1: var(--primary-900);
    --chart-2: var(--primary-800);
    --chart-3: var(--primary-700);
    --chart-4: var(--primary-600);
    --chart-5: var(--primary-500);
  }

  .dark {
    --primary: var(--primary-50);
    --primary-foreground: var(--primary-50);

    --background: var(--primary-800);
    --foreground: var(--primary-50);
    --card: var(--primary-100);
    --card-foreground: var(--primary-700);
    --popover: var(--primary-50);
    --popover-foreground: var(--primary-800);
    --secondary: var(--primary-200);
    --secondary-foreground: var(--primary-700);
    --muted: var(--primary-300);
    --muted-foreground: var(--primary-600);
    --accent: var(--primary-400);
    --accent-foreground: var(--primary-50);
    --destructive: var(--primary-700);
    --destructive-foreground: var(--primary-50);
    --border: var(--primary-200);
    --input: var(--primary-300);
    --ring: var(--primary-400);
    --chart-1: var(--primary-50);
    --chart-2: var(--primary-200);
    --chart-3: var(--primary-300);
    --chart-4: var(--primary-400);
    --chart-5: var(--primary-500);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
